<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Perris</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="dist/css/lightbox.css">
    <script src="js/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- cabecera de la pagina -->
    <header>
        <!-- contenedor que almacena el titulo MIS PERRIS y el Menu-->
        <div class="contenedor">
            <h1 class="icon-guidedog">Mis Perris</h1>
            <!-- control que permite visualizar el menu lateral (MOVIL)-->
            <input type="checkbox" name="" id="menu-bar">
            <label class="icon-th-list" for="menu-bar"></label>
            <!-- menu -->
            <nav class="menu">
                <a href="index.html">Inicio</a>
                <a href="galeria.html">Galeria</a>
                <a href="formulario.html">Formulario</a>
                <a href="">Quienes Somos</a>
            </nav>
        </div>
    </header>
    <!--sector del main (contenido de la pagina )-->
    <main>
        <!-- banner superior con imagen del perro y texto flotando sobre ella -->
        <section id="banner">
            <img src="img/perro1.jpg" alt="">
            <div class="contenedor">
                <h2>Mascotas felices en mis perris</h2>
                <p>Cual es la mejor mascota para usted</p>
                <a href="">Leer Mas</a>
            </div>
        </section>
        <!-- sector de bienvenida-->
        <section id="bienvenida">
            <h2>Galeria de imgagenes de comida</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique excepturi voluptate, quidem ipsa
                velit, laboriosam at, aperiam quibusdam recusandae vero molestiae illo. Repellendus in amet nihil
                necessitatibus, error voluptatum a.</p>
        </section>
        <!-- seccion de blog  -->
        <section id="blog">
            <script>
                $(document).ready(function() {

                    // consumir un servicio web
                    $("#btnRecuperar").click(function() {
                       
                        $.get("https://www.themealdb.com/api/json/v1/1/categories.php",function(data) {
                            $.each(data.categories, function(i,item) {
                                $("#tabla").append("<tr> "+
                                    "<td>"+item.idCategory+"</td> "+
                                    "<td>"+item.strCategory+"</td> "+
                                    "<td> <img src='"+item.strCategoryThumb+"'> </td> "+
                                    "<td>"+item.strCategoryDescription+"</td> "+
                                    "</tr>");
                            })
                        })

                    });
                    
                });

            </script>
            <input type="button" value="Llamada Asincronica" id="btnAjax">
            <input type="button" value="Recuperar" id="btnRecuperar">
            <table id="tabla">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Categoria</th>
                        <th>Imagen</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div class="contenedor" id="mascotas">

            </div>
        </section>

    </main>
    <!-- sector del pie de pagina-->
    <footer>
        <div class="contenedor">
            <p>Mis Perris - Desarrollo Web</p>
        </div>
    </footer>
  
</body>

</html>