<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilos.css">
   
</head>

<body>

    <article>
        <a href="img/gato1.jpg" >
            <img src="img/gato1.jpg" alt="">
        </a>
        <h4>Gatuno</h4>
    </article>
    <article>
        <a href="img/gato2.jpg" >
            <img src="img/gato2.jpg" alt="">
        </a>
        <h4>Gatin</h4>
    </article>
    <article>
        <a href="img/gato3.jpg" >
            <img src="img/gato3.jpg" alt="">
        </a>
        <h4>Cucho</h4>
    </article>
    <article>
        <a href="img/gato5.jpg" >
            <img src="img/gato5.jpg" alt="">
        </a>
        <h4>Minino</h4>
    </article>

   
</body>

</html>